<section class="section-container" id="panel-quests">
     <div class="section-header">
        <h2 class="section-title">任務</h2>
        <svg class="collapse-icon h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" /></svg>
    </div>
    <div class="section-content">
        <div id="quest-box" class="max-h-64 overflow-y-auto pr-2 space-y-3">
        </div>
    </div>
</section>
