<div class="section-container p-3">
    <div class="flex flex-wrap gap-2">
         <div class="bg-[var(--bg-tertiary)] flex items-center gap-1.5 py-1 px-2.5 rounded-full"><span class="text-base">😊</span><p class="text-xs font-normal">小溪</p></div>
         <div class="bg-[var(--bg-tertiary)] flex items-center gap-1.5 py-1 px-2.5 rounded-full"><span class="text-base">😠</span><p class="text-xs font-normal">烈風</p></div>
         <div class="bg-[var(--bg-tertiary)] flex items-center gap-1.5 py-1 px-2.5 rounded-full"><span class="text-base">😐</span><p class="text-xs font-normal">石山</p></div>
         <div class="bg-[var(--bg-tertiary)] flex items-center gap-1.5 py-1 px-2.5 rounded-full"><span class="text-base">🤔</span><p class="text-xs font-normal">青葉</p></div>
         <div class="bg-[var(--bg-tertiary)] flex items-center gap-1.5 py-1 px-2.5 rounded-full"><span class="text-base">😶</span><p class="text-xs font-normal">部落成員</p></div>
    </div>
</div>
